@import 'reset';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  margin: 15% auto;
  font-family: 'Akshar', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  h1{
    font-weight: 600;
    font-size: 55px;
  }
  p {
    font-weight: 300;
    font-size: 24px;
  }
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  font-size: 18px;
  color: #fff;
  background: #1c1c1b;
h2 {
 font-weight: 500;

 span {
  font-weight: 400;
 }
}
}

button {
  padding: 5px;
  margin: 20px;
  width: 20vh;
  font-size: 1.3em;
  border: 2px solid #000;
  background: transparent;
  border-radius: 4px;
  font-weight: 300;
  font-family: 'Akshar', sans-serif;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background: #000;
  border-radius: 0.5rem;
  
}